         
           <div class="modal-dialog modal-lg">
               <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                   
                </div>
                      <div class="modal-body">
                            
                      <%=form_for(@user,url:sends_update_path,method: :patch) do |f| %>      
                            <div class="field">
                                 <div style="text-align:center">
                        <% @nameArray.each do |name| %>
                          <h3><%="[#{name}から一ヶ月勤怠申請]" %></h3>
                          <% us=User.find_by(name: name) %>
                          <% sends=Send.where(user_id: us.id) %>
                          <table class="table table-bordered table-condensed table-striped">
                              <thead>
                                  <tr>
                                      <th>月</th>
                                      <th>指示者確認㊞</th>
                                      <th>変更</th>
                                      <th>勤怠を確認する</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <% sends.each do |send| %>
                                   <!--承認、否認以外data表示-->
                                   <% if !(send.conf=="承認" || send.conf=="否認") %>
                                  <%=fields_for "sends[]",send do |af| %>
                                    <tr>
                                        <td><%=send.month %></td>
                                        <td><%=af.select :conf,list_answer,{},class:"form-control" %></td>
                                        <td><%=af.check_box :box, {:checked => true} %></td>
                                        <td><%=link_to "確認",user_path(send.user.id,params:{first_day: send.tm}),class:"btn btn-primary" %></td>
                                    </tr>
                                   <% end %>    
                                   <% end %>   
                                  <% end %>
                              </tbody>
                          </table>
                        <% end %>
                    </div>
                    <div style="text-align:center">
                        <%=f.submit "送信",class:"btn btn-primary" %>
                    </div>
                    <% end %>
                </div>
                
             </div>
               </div>
           </div>
           