<li>
    <% @user=user %>
    <div class="list_name">
        <label><%=user.name %></label><br>
        <% if current_user.admin? && !current_user?(user) %>
        |<%=link_to "削除",user,method: :delete,data:{confirm:"削除しますか？"},class:"btn btn-primary"  %><br>
        <dl id="edit_user">
            <dt></dt><button id=<%=user.id %> class="btn btn-primary btn-lg" style="padding:30px;padding-top:15px;padding-bottom:15px">編集</button></dt>
            <dd style="display:none">
                <%=render 'form' %>
            </dd>
        <% end %>
      </dl>
    <div class="list_info">
       
       
    </div>
    <div class="list_empty"></div>
</li>
<script>
    $("#<%=user.id %>").click(function(){
        $(this).next("#edit_user dd").slideToggle();
 
	});
</script>
<style>
    .list_container{
         margin-left:10%;
         width:70%;
        .list_name{
           #edit_user{
               border:1px solid #c0c0c0;
               padding:25px;
               background-color:#f0f0f0;
               border-radius:8px;
            }
         }
    
      }
</style>
