<%=provide(:title,"新規アカウント登録") %>
<% casedata=User.all %>
<div class="main_title">
    <% if @users.count==casedata.count %>
     <h1>すべてのユーザー</h1>
    <% else %>
      <h1>検索結果</h1>
    <% end %> 
</div>
<div class="page_area">
    <div class="pages">
   <form>     
    <input type="file" class="form-control"><br>
    <input type="sumbmit" value="CSVをインポート" class="btn btn-primary">
  </form>   
 
    </div>
    <div class="seach">
        <label>ユーザー名検索</label><br>
        <ul>
           <%=form_tag(action:'index') do %>
             <li><%=search_field_tag :name,"",placeholder:"キーワードを入力",class:"form-control"  %> </li>
             <li><%=submit_tag "検索",class:"btn btn-primary" %></li>
           <% end %>
        </ul>
    </div>
    <div class="page-empty"></div>
</div>
<br>
<div class="list_container" style="margin-left:10%;
         width:70%;">
    <ul class="members">
        EXample
       <%=render @users %>
    </ul>
</div>
<%=will_paginate @users %> 
