<%=provide(:title,"新規アカウント登録") %>
<%=provide(:button,"更新") %>
<% casedata=User.all %>
<div class="main_title">
    
     <h1>すべてのユーザー</h1>
    
</div>
<div class="page_area">
    <div class="pages">
   <%=form_tag(import_users_path,multipart:true) do %>     
    <%=file_field_tag :file,class:"form-control" %><br>
    <%=submit_tag "CSVをインポート",class:"btn btn-primary" %>
  <% end %>   
 
    </div>
    
    <div class="page-empty"></div>
</div>
<br>
<div class="list_container" style="margin-left:10%;
         width:70%;">
    <ul class="members">
        EXample
       <%=render @users %>
    </ul>
</div>
<%=will_paginate @users %> 
