<%=provide(:title,"#{@user.name}") %>

<div style="margin-top:10px;margin-left:15%;width:70%;">
    <table class="table table-bordered">
    <tr>
        <td>
            <%=link_to "←",user_path(id:@user.id,params:{first_day:@first_day.prev_month}),class:"btn btn-primary" %>
            &emsp;<%=@first_day.to_s(:hour_month) %>&emsp;
             時間管理表
            &emsp; 
            <%=link_to "→",user_path(id:@user.id,params:{first_day:@first_day.next_month}),class:"btn btn-primary" %> 
        </td>
        <td>
            <%="指定勤務時間   #{time_format(@user.designated_work_start_time)}" %><br>
            <%="指定勤務終了時間   #{time_format(@user.designated_work_end_time)}" %><br>
        </td>
        <td colspan="3"><%="基本時間   #{time_format(@user. basic_work_time)}" %></td>
        <td colspan="3">初日&emsp;<%=@first_day.to_s(:date2) %></td>
    </tr>
    <tr>
        <td>所属 : <%=@user.affiliation.present? ? "#{@user.belongs}" : "無所属"  %></td>
        <td><%="氏名 : #{@user.name}" %></td>
        <td>コード</td>
        <td></td>
        <td>出勤日数&emsp;<%="#{@count}日" %></td>
        <td>締め&emsp;<%=@last_day.to_s(:date2) %></td>
    </tr>
</table>
<% if @user.admin? %>
  <div id="admin_info">
      <h2>[所属長承認申請のお知らせ]</h2>
      <h2>[勤怠変更承認申請のお知らせ]</h2>
      <h2>[残業申請のお知らせ]</h2>
  </div>
<% end %>
<div>
    <ul style="list_style:none;">
        <li style="display:inline;"><%=link_to "勤怠を編集",edit_attendances_path(@user,@first_day),class:"btn btn-primary" %></li>
        <li style="display:inline;"><%=link_to "CSV出力","#",class:"btn btn-primary" %></li>
        <li style="display:block;"><%=link_to "勤怠修正ログ(承認済)","#",class:"btn btn-primary" %></li>
    </ul>
   
</div>
</div>
<div style="margin-top:10px;margin-left:15%;width:70%;">
    <table class="table table-bordered table-condensed table-striped ">
        <thead>
             <tr>
                <th rowspan="3">残業申請</th> 
                <th rowspan="3">日付</th>
                <th rowspan="3">曜日</th> 
                <th colspan="7">[実績]</th>
                <th colspan="6">所定外勤務</th>
            </tr>
            <tr>
                <th colspan="3">出勤時間</th>
                <th colspan="3">退勤時間</th>
                <th rowspan="2">在社時間</th>
                <th rowspan="2">備考</th>
                <th colspan="2">終了予定時間</th>
                <th rowspan="2">時間外時間</th>
                <th rowspan="2">事務処理内容</th>
                <th rowspan="2">指示者確認㊞</th>
            </tr>
           
            <tr>
                
                <th>時</th>
                <th>分</th>
                <th></th>
                
                <th>時</th>
                <th>分</th>
                <th></th>
                
                <th>時</th>
                <th>分</th>
                
            </tr>
        </thead>
        <tbody>
            <% @dates.each do |day| %>
              <tr>
                  <td><%=button_to "残業申請","#",class:"btn btn-primary" %></td>
                  <td><%=day.worked_on.to_s(:date) %></td>
                      <% week=%w(日 月 火 水 木 金 土)[day.worked_on.wday] %>
                      <% if week["土"] %>
                         <td style="color:blue"><%=week["土"] %></td>
                　　　<% elsif week["日"] %>
                         <td style="color:red"><%=week["日"] %></td>
                      <% else %>
                         <td><%=week %></td>
                      <% end %>

                  
                  <% sh=day.start_at.to_s(:hour) if day.start_at.present? %>
                  <td><%=sh %></td>
                  <% sm=timeChange(day.start_at.to_s(:min).to_i).to_s(:min) if day.start_at.present? %>
                  <td><%=sm %></td>
                  <td>
                      <% if day.worked_on==Date.today && day.start_at==nil %>
                        <%=button_to "出勤",user_attendances_path(@user),class:"btn btn-primary btn-block" %>
                      <% end %>
                  </td>
                  <% fh=day.finished_at.to_s(:hour) if day.finished_at.present? %>
                  <td><%=fh %></td>
                  <% fm=timeChange(day.finished_at.to_s(:min).to_i).to_s(:min) if day.finished_at.present? %>
                  <td><%=fm %></td>
                  <td>
                      <% if day.worked_on==Date.today && day.start_at.present? && day.finished_at==nil %>
                        <%=button_to "退勤",user_attendances_path(@user),class:"btn btn-primary btn-block" %>
                      <% end %>
                  </td>
                     <% dayNum=(day.worked_on.to_s(:days)) %>
                     <% start=Time.zone.parse(dayNum+sh.to_s+":"+sm.to_s) %>
                     <% finish=Time.zone.parse(dayNum+fh.to_s+":"+fm.to_s) %>
                  <td>
                     
                      <% if day.start_at.present? && day.finished_at.present? %>
                        <%=working_time(finish,start) %>
                        <% num=(finish-start).to_i %>
                        <% @total=@total.to_i+num %>
                      <% end %>
                  </td>
                  <td><%=day.note %></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
            <% end %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan=""><%=time_format(@user.basic_work_time).to_f*@count %></td>
                <td colspan="2"></td>
                <td colspan="6"></td>
                <td><%= working_time_sum(@total) unless @total.nil? %></td>
                <td colspan="5"></td>
                <td>
                    所属長承認　&emsp;&emsp;未
                    <form>
                        <select class="form-control">
                            <option value=""><%=@first_day.to_s(:date) %></option>
                        </select><br>
                        <input type="submit" value="申請" class="btn btn-primary">
                    </form>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
