<%=provide(:title,"#{@user.name}") %>

<div style="margin-top:10px;margin-left:15%;width:70%;">
    <table class="table table-bordered">
    <tr>
        <td>
          <% if @link==true %>    
            <%=link_to "←",user_path(id:@user.id,params:{first_day:@first_day.prev_month}),class:"btn btn-primary" %>
            &emsp;<%=@first_day.to_s(:hour_month) %>&emsp;
             時間管理表
            &emsp; 
            <%=link_to "→",user_path(id:@user.id,params:{first_day:@first_day.next_month}),class:"btn btn-primary" %> 
          <% end %>    
        </td>
        <td>
            <%="指定勤務時間   #{time_format(@user.designated_work_start_time)}" %><br>
            <%="指定勤務終了時間   #{time_format(@user.designated_work_end_time)}" %><br>
        </td>
        <td colspan="3"><%="基本時間   #{time_format(@user. basic_work_time)}" %></td>
        <td colspan="3">初日&emsp;<%=@first_day.to_s(:date2) %></td>
    </tr>
    <tr>
        <td>所属 : <%=@user.affiliation.present? ? "#{@user.affiliation}" : "無所属"  %></td>
        <td><%="氏名 : #{@user.name}" %></td>
        <td>コード</td>
        <td></td>
        <td>出勤日数&emsp;<%="#{@count}日" %></td>
        <td>締め&emsp;<%=@last_day.to_s(:date2) %></td>
    </tr>
</table>
<% if @user.superior?%>
  <div id="admin_info">
      <% sends=Send.where(superior:@user.name) %>
      <%　over_times=Send2.where(sperior:@user.name).count %>
       <% count=sends.count %>
       
       <% count=Attendance.where(sperior:@user.name).where.not(result:"否認").where.not(result:"承認").count %>
       <% notice=Notice.find_by(user_id:@user.id) %>
       <% notice.edit_num=count %>
       <% notice.save %>
       
     
       
       <% if @notice.one_month_num>0  && current_user.superior? %>
             <h5 style="color:red;">[所属長承認申請のお知らせ]&emsp;&emsp;<%=link_to "#{@notice.one_month_num}件の通知があります",box_path(@user,@first_day),remote:true,id:"lb" %></h5>
       <% else %>
             <h5>[所属長承認申請のお知らせ]</h5>
      <% end %>     
      <% if notice.edit_num>0  && current_user.superior?  %>
             <h5 style="color:red;">[勤怠変更承認申請のお知らせ]&emsp;&emsp;<%=link_to "#{notice.edit_num}件の通知があります",user_attendance_box_path(@user,@first_day),remote:true,id:"lb" %></h5>
       <% else %>
            <h5>[勤怠変更承認申請のお知らせ]</h5>
      <% end %>     
       <% if @notice.over_time_num>0  && current_user.superior? %>
             <h5 style="color:red;">[残業申請のお知らせ]&emsp;&emsp;<%=link_to "#{@notice.over_time_num}件の通知があります",over_time_box3_path(@user,@first_day),remote:true,id:"lb" %></h5>
       <% else %>
            <h5>[残業申請のお知らせ]</h5>
      <% end %>     
    
     
  </div>
<% end %>
<div>
    <% if @link==true %>
    <ul style="list_style:none;">
        <li style="display:inline;"><%=link_to "勤怠を編集",edit_attendances_path(@user,@first_day),class:"btn btn-primary" %></li>
        <li style="display:inline;"><%= link_to "CSV出力", user_path(@user, params:{first_day: @first_day },format: :csv), class: "btn btn-primary" %></li>
        <li style="display:block;"><%=link_to "勤怠修正ログ(承認済)",logview_path(@user,@first_day),class:"btn btn-primary" %></li>
    </ul>
    <% end %>
</div>
</div>
<div style="margin-top:10px;margin-left:15%;width:70%;">
    
    <table class="table table-bordered table-condensed table-striped " id="tv">
        <thead>
             <tr>
                <% if @link==true %> 
                 <th rowspan="3">残業申請</th> 
                <% end %> 
                <th rowspan="3">日付</th>
                <th rowspan="3">曜日</th> 
                <th colspan="7">[実績]</th>
                <th colspan="6">所定外勤務</th>
            </tr>
            <tr>
                <th colspan="3">出勤時間</th>
                <th colspan="3">退勤時間</th>
                <th rowspan="2">在社時間</th>
                <th rowspan="2">備考</th>
                <th colspan="2">終了予定時間</th>
                <th rowspan="2">時間外時間</th>
                <th rowspan="2">事務処理内容</th>
                <th rowspan="2">指示者確認㊞</th>
            </tr>
           
            <tr>
                
                <th>時</th>
                <th>分</th>
                <th></th>
                
                <th>時</th>
                <th>分</th>
                <th></th>
                
                <th>時</th>
                <th>分</th>
                
            </tr>
        </thead>
        <tbody>
            <% @dates.each do |day| %>
            <tr>
                  <% if @link==true %>
                    <td><%=link_to "残業申請",over_time_path(day.id,day.worked_on,@user.id),remote:true,class:"btn btn-primary" %></td>
                  <% end %>
                  <td><%=day.worked_on.to_s(:date) %></td>
                      <% week=%w(日 月 火 水 木 金 土)[day.worked_on.wday] %>
                      <% if week["土"] %>
                         <td style="color:blue"><%=week["土"] %></td>
                　　　<% elsif week["日"] %>
                         <td style="color:red"><%=week["日"] %></td>
                      <% else %>
                         <td><%=week %></td>
                      <% end %>

                  
                  <% sh=day.start_at.to_s(:hour) if day.start_at.present? %>
                  <td>
                        <!--変更された出勤あるか？ -->
                        
                      <% if day.new_start.present? %>
                         <%=day.new_start.to_s(:hour) if day.new_start.present? %>
                      <% else %>
                        <%=sh %>
                      <% end %>
                  </td>
                  <td>
                      <!--変更された出勤あるか？ -->
                      
                      <% if day.new_start.present? %>
                         <%=day.new_start.to_s(:min) if day.new_start.present? %>
                      <% else %>
                       <%=day.start_at.to_s(:min) if day.start_at.present? %>
                      <% end %>
                  </td>
               
                  <td>
                      <% if day.worked_on==Date.today && day.start_at==nil %>
                        <%=button_to "出勤",user_attendances_path(@user),class:"btn btn-primary btn-block" %>
                      <% end %>
                  </td>
                 
                  <td>
                        <!--変更された退勤あるか？ -->
                        
                      <% if day.new_finish.present? %>
                         <%=day.new_finish.to_s(:hour) if day.new_start.present? %>
                      <% else %>
                        <%=day.finished_at.to_s(:hour) if day.finished_at.present? %>
                      <% end %>
                      
                  </td>
                  <td>
                       <!--変更された退勤あるか？ -->
                        
                      <% if day.new_finish.present? %>
                         <%=day.new_finish.to_s(:min) if day.new_finish.present? %>
                      <% else %>
                        <%=day.finished_at.to_s(:min) if day.finished_at.present? %>
                      <% end %>
                  </td>
                  <td>
                      <% if day.worked_on==Date.today && day.start_at.present? && day.finished_at==nil %>
                        <%=button_to "退勤",user_attendances_path(@user),class:"btn btn-primary btn-block" %>
                      <% end %>
                  </td>
                  <td>
                     
                      <% if day.new_start.present? && day.new_finish.present? %>
                        <%=working_time(day.new_finish,day.new_start) %>
                        <% num=(day.new_finish-day.new_start).to_i %>
                        <% @total=@total.to_i+num %>
                      <% end %>
                  </td>
                  <td><%=day.note %></td>
                  <!--残業関連処理---->
                  <% time= day.worked_on.to_s(:date) %>
                  <% send=@user.attendances.find_by(time:time) %>
                      <td><%=day.plans.present? ? "[翌日]"+day.plans.to_s(:hour): send.new_finish2.to_s(:hour) if send.present? %></td>
                      <td><%=day.plans.present? ? "[翌日]"+day.plans.to_s(:min) : send.new_finish2.to_s(:min) if send.present? %></td>
                      <td><%=send.overtime.present? ? send.overtime : over_calc(send.new_finish2,@user.designated_work_end_time) if send.present?  %></td>
                      <td><%=send.note2 if send.present? %></td>
                  <!--/残業処理--> 
                  <% over=@user.attendances.where(worked_on:day.worked_on).last %>
                  <td>
                       <% if day.present? %>
                        <% if day.result=="承認" %>
                          <p style="color:blue"><%="勤怠申請:#{day.sperior}により承認済み" %></p>
                        <% elsif  day.result=="否認" %>
                           <p style="color:red"><%="勤怠申請:#{day.sperior}により否認済み" %></p>
                        <% else day.result=="申告中"||"" %>   
                           <p><%="勤怠申請:#{day.sperior}に申告中" if day.sperior.present? %></p>

                        <% end %>
                      <% end %>
                      
                      <% if over.present? %>
                        <% if over.answer=="承認" %>
                          <p style="color:blue;"><%="残業申請:#{over.sperior2}により承認済み" %></p>
                        <% elsif  over.answer=="否認" %>
                           <p style="color:red;"><%="残業申請:#{over.sperior2}により否認済み" %></p>
                         <% elsif  over.answer=="申告中" %>
                           <p style=><%="残業申請:#{over.sperior2}に申告中" %></p>       
                        
                        <% elsif over.sperior2=="" %>
                           <p></p>
                        <% end %>
                      <% end %>
                 </td>
              </tr>
            <% end %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan=""><%=time_format(@user.basic_work_time).to_f*@count %></td>
                <td colspan="2"></td>
                <td colspan="5"></td>
                <td><%= working_time_sum(@total) unless @total.nil? %></td>
                <td colspan="6"></td>
                <% if @link==true %>
                <td>
                    <% obj=@user.sends.find_by(month:@first_day.to_s(:month))  %>
                    
                    <% if obj.present? %>
                        <% if obj.conf=="承認" %>
                             <label>所属長承認 <%="#{obj.superior}から#{obj.conf}済" if obj.present?  %></label>
                             <style>#lbb{display:none;}</style>
                        <% elsif obj.conf=="否認"  %>   
                             <label>所属長承認 <%="#{obj.superior}から#{obj.conf}" if obj.present?  %></label>
                             <style>#lbb{display:none;}</style>
                         <% elsif obj.conf=="申告中"%>   
                             <label>所属長承認 <%="#{obj.superior}へ申請" if obj.present?  %></label>
                             <style>#lbb{display:none;}</style>     
                        <% end %>
                    <% end %>    
                     <label id="lbb">所属長承認 未定 </label>
                    <%=form_for(@send,url:sendcreate_path(@user.id,@first_day),method: :patch)  do |f| %>
                       <%=f.select :superior,supeiors,{},class:"form-control" %>
                        <%=f.hidden_field :tm,value:@first_day %>
                       <%=f.hidden_field :month,value:@first_day.to_s(:month) %>
                       <%=f.hidden_field :user_id,value:@user.id %>
                       <%=f.hidden_field :link,value:true %>
                       <%=f.hidden_field :conf,value:"申告中" %>
                       <%=f.submit "申請", class:"btn bt-sm btn-primary" %>
                    <% end %>
                </td>
            <% end %>    
            </tr>
        </tfoot>
    </table>
</div>
<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<style>
    #lb{color:red;}
</style>