<!DOCTYPE html>
<html>
  <head>
    <!---各ページのタイトル対応-->
    
    <title><%=app_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <article id="container">
       <%= yield %>
    </article>
    <div id="debugger">
      <%=debug(params) %>
    </div>
  </body>
</html>
